.Sensou_MiniInfo
	.animToggleContainer
		label.animToggle
			input.animToggleInput(type="checkbox" onchange="Sensou_toggle(this)" checked="true")
			span.animSlider.round
	//- .mainPFreeform
	//- 	h2
	//- 		a(href="") 
link(rel="stylesheet", href="styles/main.sass")
link(rel="stylesheet", href="styles/stopAnim.sass")
script(src="javascript/stopAnim.ts") 
