[dohtml]<div class="postGeneral">

	<h1 id="top">
		<span class="split"> clan name</span>
		<i class="cp cp-id-badge-o"></i>
	</h1>


	<div>
		<h2 class="split"> clan emblem </h2>
		<center><img src="https://i.imgur.com/sHvpohq.png" width="330" height="330" /></center>
		<center><i>The snakes of the Hoshimouka, and the symbol of the Hoshigaki. Opinions vary on if the Hoshimouka are
				escaping, or encroaching.</i></center>
		<h2 class="split"> the history </h2>
		<p>
			Irabu Hoshimouka was a vile man. At least, that is the story one would be told by the persons that killed him.
			Where you to ask his family, however, you would get a very different answer. Irabu Hoshimouka, to those closest to
			him, was a wicked, sinful, vicious, evil man, and very few looked poorly upon his death at the hand of the
			Hoshigaki.
		</p>
		<p>
			Irabu was the child of Hoshigaki parents whose names have been lost to time. From the start, many of the Hoshigaki
			disliked Irabu. He was not like them, he was different, and it was very intentional on the part of his parents.
			While most Hoshigaki sought out experimental medicine to enhance their shark-like features, Irabu's family choose
			a very different route. At first, it was random, and many children born suffered from extreme deformity, perishing
			of natural, or sometimes unnatural, causes shortly after birth. Irabu was the child of a successful attempt,
			carring on the features of his parent. His early life was devoted to perfecting his body, something the Hoshigaki
			themselves were doing, but he was particularly good at, devoting a significant amount of his time into studying
			the nature of the body.
		</p>
		<p>
			Irabu was the doctor of a pirate ship when he discovered what he considered to be 'perfection'. One night, while
			anchored near shore, Irabu went about massacring the other crew and taking control of the ship. He feasted upon
			the hearts of the fallen Hoshigaki. The captives all met a similar fate, save for the women.
		</p>
		<p>
			Irabu spent the next several decades gathering followers, using his understanding of medicines to further attract,
			and particularly to retain, followers. Irabu likely would have gone unnoticed had he not made a crucial mistake: a
			child had hidden in a barrel on the ship he had briefly controlled. The child was found, along with the many
			bodies, disfigured as they were. While the general chaos of the time left Irabu to father countless children, the
			fierceness of the Hoshigaki soon fell upon him. Irabu was able to escape, even to win, several times, but the
			Hoshigaki would never let the "Heart Eater" Hoshimouka free. The wrath of the Hoshigaki did not end when Irabu
			fell, either, as they refused to spare any they found in his company. Only those who had fled were spared, and
			only if they had fled long enough in the past to go unnoticed.
		</p>
		<p>
			While it is unknown how well the Hoshigaki remember this event, and if hatred still runs in their veins. It is
			considered taboo by most Hoshimouka to venture near the Land of Water.
		</p>
		<h2 class="split"> the culture </h2>
		<p>
			Much akin to their Hoshigaki progenitors, the Hoshimouka are considered barely human by most. They are also rather
			insular, though in a wildly different way from the Hoshigaki. Those who survived the Hoshigaki massacre mostly
			fall into two large categories. The first were glad for Irabu's death, and sought to move on with their lives. The
			second sought to fill the vacuum of power and re-establish what Irabu had left.
		</p>
		<p>
			Around the world, small camps sprouted up, the attempts at setting up more followings. Irabu's methods spoke to
			the dark hearts of many individuals, and his eccentricities and proclivities left many desiring more. There are no
			large collections of Hoshimouka anymore, certainly not to the size of Irabu's group. However one can, with some
			dedication, find groups of around one hundred dotted around the world. These camps are often set up to be inviting
			to outsiders, giving them tastes of joy, pleasures they could not have elsewhere. Some actively 'recruit' from
			nearby villages shortly before leaving for a new location.
		</p>
		<p>
			The Leader is unassailable. They rule, and that is not to be questioned. Those raised in the camps are lesser,
			though far greater than those without. Should one prove themselves, they are rewarded, often with spouses, and
			with drugs. Major dissent was rare, so long as The Leader kept a strong hold upon the strongest within the camp,
			though this often left the strongest to splinter and form their own camps, acting as The Leader. However, when
			overthrowing The Leader was attempted, it was often successful.
		</p>
		<p>
			The Hoshimouka live lives of thrill and rapture, at least for those at "The Head". Marriages, where practiced, are
			often arranged for the sake of producing stronger offspring. The Leader makes all the final decisions, from who
			marries whom to what food is prepared, and what is available alongside the food. The Leader is not to be
			questioned, for their decisions are final and correct. Those who disagree are shunned, exiled, cast aside even by
			the closest of family and friends.
		</p>
		<h2 class="split"> the focus </h2>
		<p>

		<ul>
			<li>Ninjutsu</li>
			<li>Iryoujutsu</li>
		</ul>

	</div>

	<h4>
		jump to top <a href="#top">^</a>
	</h4>
</div>[/dohtml]



[dohtml]<div class="postGeneral">

	<h1 id="top2">
		<span class="split"> bloodline name</span>
		<i class="cp cp-pin-o"></i>
	</h1>
	<div>
		<h2 class="split"> the appearance </h2>
		<p>
			Hoshimouka possess reptilian, often specifically snake-like, features, directly relating to their kekkai genkai.
			However, variation is a constant facet of their lives due to the origins of their forms. Most common are long,
			slender frames, pointed teeth much like their Hoshigaki progenitors often had, and nicating membranes.

		<h2 class="split"> the description </h2>
		<p>
			While the Hoshigaki possess shark-like bodies, the Hoshimouka are more similar to sea snakes. Much like their
			progenitors, however, Hoshimouka naturally regrow their teeth. This sometimes results in multiple teeth occupying
			one spot in the mouth, causing the Hoshimouka to prefer removing one, though there are technically no
			complications aside from some discomfort. If a Hoshimouka loses a tooth, it will be fully regrown within a month's
			time.
		</p>
		<p>
			Unlike the Hoshigaki, the Hoshimouka cannot breathe indefinitely underwater. They can, however, absorb oxygen
			through their body, allowing them to stay thirty minutes underwater with no downsides. If they are able to breathe
			deeply before being submersed, this time increases to eight hours. With their double jointed limbs and morphology
			designed for swimming, Hoshimouka gain +50 dexterity while swimming.
		</p>
		<p>
			Hoshimouka bodies are covered in scales, though their small, soft, and flat nature offers little protection. Some
			even report the scales feeling 'silky', though this exact sensation often varies between members. Instead, the
			sensilla growing through their scales give the Hoshimouka a vibratory sense. This enables them to track movement
			within 50m of their position. In water, this extends out to one kilometer. This cannot detect [Energy] effects,
			and is able to be circumvented by the [Shapeless] tag. Hoshimouka need only two hours of sleep per day, and their
			vibratory sense is active while asleep, allowing them to quickly wake up and be alert if there is intense
			movement. Hoshimouka are also able to see ultraviolet light. The [Invisible] tag still renders things invisible in
			ultraviolet.
		</p>
		<p>
			Further, Hoshimouka are entirely [Ansomic], meaning they are unable to smell. They can, however, taste chemicals
			in the air. This allows them to identify and even differentiate individuals at a long distance, though only
			roughly. Within 5 meters, the Hoshimouka are able to precisely locate the sources of various chemicals, including
			individuals and creatures. Within 500 meters, they are able to partially locate such things to within a 60 degree
			zone, but cannot identify how far away the person is with this sense. These ranges extend to 15m and 1km,
			respectively, while within water. Tasting chemicals requires either the Hoshimouka to be breathing, or to flick
			their abnormally long tongue out. This is countered by the [Odorless] tag. Once familiar with the "taste" of
			someone, a Hoshimouka is able to differentiate them from others.
		</p>
		<p>
			Finally, the Hoshimouka can produce a natural poison. They and all Hoshimouka are immune to this poison. The
			poison can be injected by biting a victim, extracted and stored in a vial, or applied to an item the Hoshimouka
			holds. The poison does 15 damage per post for 6 posts. This can stack with multiple applications, though a
			poisoned item has the poison nullified after one application. Further, the poison is volatile and rendered inert
			after the topic ends. A Hoshimouka is only able to produce one dose of poison each post.
		</p>
		<h2 class="split"> progenitor bonuses </h2>
		<p>
			Hoshimouka progenitors have a few abilities over their bretheren. They are particularly adapt at swimming,
			changing the +50 bonus to dexterity into a +100. Their poison is especially potent, dealing 30 damage per post for
			6 posts, and allowing up to three doses to be kept active past the end of topics. Items or vials with a poison
			active between topics must be listed on the character's stat page. A Hoshimouka is also able to produce
			ultraviolet light without producing visible light.
		</p>
		<p>
			The ranges of a Hoshimouka progenitor's vibratory sense expand to 250m outside of water, and inside water expand
			to 10km.
		</p>

		<h2 class="split"> the requirements </h2>
		<p>
			Be born into the Hoshimouka clan or receive a Hoshimouka DNA transplant. If transplanted, Hoshimouka features take
			three months OOC to fully mature and cause incredible illness over this time. Hoshimouka organs are not, however,
			inherently toxic. Using a kinjutsu to implant DNA avoids the complication.
		</p>
	</div>
	<h4>
		jump to top of <a href="#top">Clan Portion</a> <b>;;</b> jump to top of <a href="#top2">Bloodline Portion</a>
	</h4>
</div>[/dohtml]