[dohtml]
<div class="development">
	<div class="dev_traits">


		<div class="webLink" data-modal="#tabName1">
			<span>
				<b>basics</b>
			</span>
			<i class="cp cp-book-o"></i>
		</div>

		<div class="webLink" data-modal="#tabName2">
			<span>
				<b>equip/items</b>
			</span>
			<i class="cp cp-pencil-and-ruler-o"></i>
		</div>

		<div class="webLink" data-modal="#tabName3">
			<span>
				<b>threads</b>
			</span>
			<i class="cp cp-agenda-o"></i>
		</div>

		<div class="webLink" data-modal="#tabName4">
			<span>
				<b>Jutsu</b>
			</span>
			<i class="cp cp-cabinet-o"></i>
		</div>

		<div class="webLink" data-modal="#tabName5">
			<span>
				<b>skills</b>
			</span>
			<i class="cp cp-controls"></i>
		</div>

		<div class="webLink" data-modal="#tabName6">
			<span>
				<b>plotter</b>
			</span>
			<i class="cp cp-controls"></i>
		</div>
	</div>

	<div id="tabName1" class="devTab active">
		<header>
			<img src="https://via.placeholder.com/400x180">
			<div></div>
			<p>
				<a href="application">
					<b>Sensou</b> Ashigaru
				</a>

			</p>
		</header>

		<h1>
			the facts
		</h1>

		<section>
			<br><b>Age</b> 27
			<br>
			<b>Birthday</b> Sept. 13th
			<br>
			<b>Gender</b> Woman
			<br>
			<b>Rank</b>: D Rank
			<br>
			<b>Element</b>: Fire
			<br>
			<b>Clan</b>: <a href="/index.php?showtopic=2407&st=0&#entry2536">Ashigaru</a>
			<br>
			<b>Bloodline</b>: Hiden: <a href="/index.php?showtopic=2407&st=0&#entry2536">Technological Ninja Tools</a>
			<br>
			<b>Stamina Pool</b>: 200
			<br>
			<b>Word Count Bank</b>: 0

		</section>


		<h1>
			specialties // clan focus
		</h1>

		<section>
			<h3><i class="cp cp-chevron-down"></i> III Weaponry </h3>
			<blockquote>S Rank and Below</blockquote>


		</section>
		<h1>
			personality
		</h1>

		<section>
			"Little bit broken" is a perfect way to describe Sensou. Others might say "a tad unhinged" or, if someone was being charitable, "dedicated to the art".

			Sensou makes a point out of testing her own equipment. 'Everything needs a field test'. Considering the sorts of things she generally ends up working with... many people consider her insane for that alone.

			There is a reason she picked up running away quickly, after all.

			She <i>can</i> be socially acceptable, if she cares. But she will also talk your ear off if you are interesting and let her.

			That is not to say she is a workaholic. She does get tired of working on things, and does enjoy different ways of taking breaks.

			It just might be that her breaks end up being... somewhat weird.
			<br><br>
			<b>Goals</b>:
			<ul>
				<li>Invent cool shit</li>
				<li>Drag the world into its unwilling future</li>
				<li>Bring back the trials by combat</li>
			</ul>
			<b>Fears</b>:
			<ul>
				<li>Mental or physical situations that prevent her creating shit and testing them</li>
				<li>If ninja techniques can outpace the creations of the Ashigaru</li>
				<li>Unbridled human folly</li>
			</ul>
		</section>

		<h1>
			appearance
		</h1>

		<section>
			Perhaps the most striking feature of Sensou's is her white hair and, to an extent, her more pale complexion. Amber eyes that some swear turn yellow when angry or excited accentuate her face, whereas her smaller nose and lips do not. While not very tall, she possess a form most suited for movement. She prides herself in being fast.

			After all, if an invention is about to blow up, creating distance is an incredibly useful trait.

			Her hair is a slightly longer bob cut, with bangs hanging down over nearly her entire forehead (which is admittedly a bit on the taller side). Everywhere else it hangs down to roughly halfway down her neck. Her hair does not, however, behave nicely. Strands tend to clump together and then go wherever they please. While not even wavy, her hair could not be called straight, resulting in it generally pulling away from her body and the ends, except for her bangs which are cut short enough to not display this.
			<br><br>
			<b>Height</b>: 165cm
			<br>
			<b>Build</b>: Ectomorph
		</section>

	</div>

	<div id="tabName2" class="devTab">
		<header>
			<img src="https://via.placeholder.com/400x180">
			<div></div>
			<p>
				<a href="#">
					<b>your</b> equipment <b>and</b> items
				</a>
			</p>
		</header>

		<h1>
			equipment
		</h1>

		<section>
			<h2>Basic Equipment</h2>
			<ul>
				<li><a href="#linktoequip">Name of Equipment here</a></li><br>
				<li><a href="#linktoequip">Name of Equipment here</a></li><br>
				<li><a href="#linktoequip">Name of Equipment here</a></li><br>
				<li><a href="#linktoequip">Name of Equipment here</a></li>
			</ul>

			<h2>Special Equipment</h2>

			<heading>
				<span>
					<a href="#linktowquipment"><b>Special Equipment Name</b></a>
				</span>
				<i class="cp cp-quote"></i>
			</heading><br><br>

			Small Description of the Equipment

			<heading>
				<span>
					<a href="#linktowquipment"><b>Special Equipment Name</b></a>
				</span>
				<i class="cp cp-quote"></i>
			</heading><br><br>

			Small Description of the Equipment
		</section>

		<h1>
			items
		</h1>

		<section>
			<h2>Basic Item </h2>
			<ul>
				<li><a href="#linktoitem">Name of Item here</a></li><br>
				<li><a href="#linktoitem">Name of Item here</a></li><br>
				<li><a href="#linktoitem">Name of Item here</a></li><br>
				<li><a href="#linktoitem">Name of Item here</a></li><br>
			</ul>

			<h2>Special Item </h2>

			<heading>
				<span>
					<a href="#linktoitem"><b>Special Item Name</b></a>
				</span>
				<i class="cp cp-quote"></i>
			</heading><br><br>

			Small Description of the Item.

			<heading>
				<span>
					<a href="#linktoitem"><b>Special Item Name</b></a>
				</span>
				<i class="cp cp-quote"></i>
			</heading><br><br>

			Small Description of the Item.

		</section>

	</div>

	<div id="tabName3" class="devTab">
		<header>
			<img src="https://via.placeholder.com/400x180">
			<div></div>
			<p>
				<a href="#">
					<b>Your</b> Story
				</a>
			</p>
		</header>
		<section>
			<div class="development tracker">

				<div>
					<fieldset>
						<div class="t_active">
							<i class="cp cp-pin"></i>
							<a href="linktothread">thread name</a>
							Active
						</div>
						<div class="t_active">
							<i class="cp cp-pin"></i>
							<a href="linktothread">thread name</a>
							Active
						</div>

						<div class="t_open">
							<i class="cp cp-paper-clip-o"></i>
							<a href="linktothread">thread name</a>
							open
						</div>

						<div class="t_open">
							<i class="cp cp-paper-clip-o"></i>
							<a href="linktothread">thread name</a>
							open
						</div>
						<div class="t_inactive">
							<i class="cp cp-moon"></i>
							<a href="linktothread">thread name</a>
							inactive
						</div>

						<div class="t_inactive">
							<i class="cp cp-moon"></i>
							<a href="linktothread">thread name</a>
							inactive
						</div>
						<div class="t_archived">
							<i class="cp cp-folder"></i>
							<a href="linktothread">thread name</a>
							archived
						</div>

						<div class="t_archived">
							<i class="cp cp-folder"></i>
							<a href="linktothread">thread name</a>
							archived
						</div>



					</fieldset>
				</div>

				<div></div>


			</div>
	</div>
	</section>

	<div id="tabName4" class="devTab">
		<header>
			<img src="https://via.placeholder.com/400x180">
			<div></div>
			<p>
				<a href="#">
					<b>Your</b> Jutsu
				</a>
			</p>
		</header>


		<h1>
			S Rank
		</h1>

		<section>

			<h2>Spec Type</h2>
			<ul>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
			</ul>

		</section>

		<h1>
			A Rank
		</h1>
		<section>

			<h2>Spec Type</h2>
			<ul>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
			</ul>

		</section>

		<h1>
			B Rank
		</h1>
		<section>

			<h2>Spec Type</h2>
			<ul>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
			</ul>

		</section>

		<h1>
			C Rank
		</h1>
		<section>

			<h2>Spec Type</h2>
			<ul>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
			</ul>

		</section>

		<h1>
			D Rank
		</h1>
		<section>

			<h2>Spec Type</h2>
			<ul>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
			</ul>

		</section>
		<h1>
			E Rank
		</h1>
		<section>

			<h2>Spec Type</h2>
			<ul>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
				<li><a href="linktojutsu">Name of jutsu</a></li><br>
			</ul>

		</section>
	</div>

	<div id="tabName5" class="devTab">
		<header>
			<img src="https://via.placeholder.com/400x180">
			<div></div>
			<p>
				<a href="#">
					<b>your</b> skills
				</a>
			</p>
		</header>
		<section>
			<heading>
				<span>
					<a href="linktoskill"><b>Skill Name</b></a>
				</span>
				<i class="cp cp-quote"></i>
			</heading><br><br>

			Description of the skill
			<br><br>
			<heading>
				<span>
					<a href="linktoskill"><b>Skill Name</b></a>
				</span>
				<i class="cp cp-quote"></i>
			</heading><br><br>

			Description of the skill

		</section>

	</div>

	<div id="tabName6" class="devTab">
		<header>
			<img src="https://via.placeholder.com/400x180">
			<div></div>
			<p>
				<a href="#">
					<b>your</b> plots
				</a>
			</p>
		</header>

		<h1>
			foes
		</h1>
		<div class="imageHeader">
			<img src="https://via.placeholder.com/400x100">
			<div></div>
			<p>
				<a href="#">
					<b>FirstName</b> LastName</a>
				Small Quote
			</p>
		</div>
		<section>
			Description of plot
		</section>

		<h1>
			lovers
		</h1>
		<div class="imageHeader">
			<img src="https://via.placeholder.com/400x100">
			<div></div>
			<p>
				<a href="#">
					<b>FirstName</b> LastName</a>
				Small Quote
			</p>
		</div>
		<section>
			Description of plot
		</section>

		<h1>
			friends
		</h1>
		<div class="imageHeader">
			<img src="https://via.placeholder.com/400x100">
			<div></div>
			<p>
				<a href="#">
					<b>FirstName</b> LastName</a>
				Small Quote
			</p>
		</div>
		<section>
			Description of plot
		</section>

	</div>

	<footer>
		<div class="dev_traits">

			<div>
				<span>
					<b>20</b>
					Stamina
				</span>
				<i class="cp cp-stethoscope"></i>
			</div>

			<div>
				<span>
					<b>60</b>
					Potency
				</span>
				<i class="cp cp-sword-o"></i>
			</div>

			<div>
				<span>
					<b>10</b>
					Control
				</span>
				<i class="cp cp-lotus"></i>
			</div>

			<div>
				<span>
					<b>100</b>
					Dexterity
				</span>
				<i class="cp cp-bow-and-arrow-o"></i>
			</div>

			<div>
				<span>
					<b>10</b>
					Strength
				</span>
				<i class="cp cp-pirate-swords-o"></i>
			</div>

			<div>
				<span>
					<b>200</b>
					Health
				</span>
				<i class="cp cp-first-aid-o"></i>
			</div>

		</div>

	</footer>
</div>[/dohtml]