.development {
	:is(#tabName1, #tabName2, #tabName3, #tabName4, #tabName5, #tabName6) {
		&:target {
			position: fixed;
			width: 100dvw;
			height: 100dvh;
			top: 0;
			left: 0;
			z-index: 1000;
			display: grid;
			grid-template-columns: 50px 1fr;
			margin: 0;
			gap: 0;
			overflow: scroll;
			opacity: 1 !important;
			h1 {
				writing-mode: vertical-lr;
			}
			header {
				grid-column: 1 / span 2;
				margin: 0;
				img {
					display: none;
				}
				>div {
					background: rgba(var(--accent),1);
				}
				p {
					margin: 0;
				}
			}
		}
	}
}
