[dohtml]
<div class="development">
	<div class="dev_traits">

		<div>
			<span>
				<b>00</b>
				Stamina
			</span>
			<i class="cp cp-stethoscope"></i>
		</div>

		<div>
			<span>
				<b>00</b>
				Potency
			</span>
			<i class="cp cp-sword-o"></i>
		</div>

		<div>
			<span>
				<b>80</b>
				Control
			</span>
			<i class="cp cp-lotus"></i>
		</div>

		<div>
			<span>
				<b>00</b>
				Dexterity
			</span>
			<i class="cp cp-bow-and-arrow-o"></i>
		</div>

		<div>
			<span>
				<b>00</b>
				Strength
			</span>
			<i class="cp cp-pirate-swords-o"></i>
		</div>

		<div>
			<span>
				<b>00</b>
				Health
			</span>
			<i class="cp cp-first-aid-o"></i>
		</div>

	</div>

	<header>
		<img src="https://via.placeholder.com/500x180">
		<div></div>
		<p>
			<a href="#">
				<b>Firstname</b> Longlast
			</a>
			small quote here
		</p>
	</header>

	<h1>
		Power is not will. It is the phenomenon of physically making things happen.
	</h1>

	<section>
		<br><b>Age</b> 00 (self-explanitory)
		<br>
		<b>Birthday</b> Month and Day only.
		<br>
		<b>Gender</b> Male/Female/Trans/Agender/Non-Binary/Etc.
		<br><br>
		<h2>What makes you... you?</h2><br><br>
		Insert Personality here. At least 100 words, or a few paragraphs.
		<br><br>
		<b>Goals</b>: A paragraph or two, or list three. Bullet points with descriptions are fine.
		<br>
		<b>Fears</b>: A paragraph or two, or list three. Bullet points with descriptions are fine.
		<br><br>
		<h2>What do you look like?</h2><br><br>
		Words about appearance here. At least 200 words, or two paragraphs. Enough for a roleplay partner to understand in
		general what your character looks like.
		<br><br>
		<b>Height</b>:
		<br>
		<b>Build</b>: What is your body’s shape? Lanky, average, athletic, etc.
		<br><br>
		<h2>Where are you from?</h2><br><br>
		<b>Affiliation</b>: What village you’re from, or if none, Unaffiliated
		<br>
		<b>Rank</b>: Characters may start at E or D
		<br>
		<b>Element</b>: Allocation of Element Points. E/D both start with 1 point.
		<br>
		<b>Specialties</b>: What specialties you start with, and how many points in each. E-Rank Starts with 1 Point, D-Rank
		starts with 3 Points total, 1 of which is a point from clan focus. Clanless start with 3 regardless.
		<br>
		<b>Clan</b>: Name of the clan, you may also put a link with <a href="clanlink">NameOfClan</a>
		<br>
		<b>Bloodline</b>: What bloodline is given by your clan. Clanless leave this blank.
		<br>
		<b>Clan Focus</b>: Found on the “clan application”. Clanless leave this blank, or put N/A
		<br>
	</section>

	<h1>
		A hero is not the one who never falls. A hero is the one who gets up, again and again, never losing sight of their
		dreams.
	</h1>
	<section>
		<h2>Everyone has a story. What's yours, stranger?</h2>
		Words for history, at least 250 words/3-5 paragraphs
	</section>

	<footer>
	</footer>
</div>
[/dohtml]